<!DOCTYPE html>
<html>
	<script type="text/javascript" src="bundle.js"></script>
	<link rel="stylesheet" href="style.css" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bensatilastot</title>
</head>
<body ng-app="mcEventLog">
	<div ng-controller="InputFormCtrl" ng-submit="sendForm(line)" >
		<form name="newLineForm">
			<fieldset ng-disabled="isSaving">
				<input type="date" ng-model="line.date" required/>
				<input placeholder="litraa" type="number" ng-model="line.fuel" min=0 max=22 step=0.01>
				<input placeholder="matkamittarin lukema" type="number" ng-model="line.odo" min=3000 max=99999 step=1 required/>
				<input type="text" ng-model="line.info" />
		    	<button type="submit">L&auml;het&auml;</button>
		    </fieldset>
		</form>
	</div>
	<div ng-controller="DataTableCtrl">
		<ul class="tabs">
			<li ng-repeat="current in tabs" ng-class="isTab(current)?'activeTab':'passiveTab'" ng-click="selectTab(current)">{{current}}</li>
		</ul>
		
		<ng-include src="'tankkaukset.html'" ng-show="isTab('Tankkaukset')" ></ng-include>
		<ng-include src="'renkaat.html'" ng-show="isTab('Renkaat')" ></ng-include>
		<ng-include src="'huollot.html'" ng-show="isTab('Huollot')" ></ng-include>
		<ng-include src="'kaudet.html'" ng-show="isTab('Kaudet')" ></ng-include>
		<ng-include src="'muut.html'" ng-show="isTab('Muut')" ></ng-include>

		<div>
			<div>
				<span ng-class="bike=='versys'?'selected':''" ng-click="selectBike('versys')">Versys</span> |
				<span ng-class="bike=='vstrom'?'selected':''" ng-click="selectBike('vstrom')">VStrom</span> 
			</div>
		</div>
	</div>
</body>
</html>

