<table class="data"><tbody>
	<tr>
		<th>vuosi</th>
		<th>alkoi</th>
		<th>loppui</th>
	</tr>
	<tr class="stats" ng-repeat="stat in stats.Kaudet">
		<td class="text" >{{stat.info}}</td>
		<td>{{stat.start | date: 'dd.MM' }}</td>
		<td>{{stat.end | date: 'dd.MM' }}</td>
	</tr>
	<tr ng-repeat="line in lines.Kaudet">
		<td>{{line.year}}</td>
		<td>{{line.start | date: 'dd.MM.yyyy'}}</td>
		<td>{{line.end | date: 'dd.MM.yyyy'}}</td>
	</tr>
	<tr class="clear">
		<td/>
		<td/>
		<td/>
	</tr>
</tbody><table>
