<table class="data"><tbody>
	<tr>
		<th>vuosi</th>
		<th>alkoi</th>
		<th>loppui</th>
		<th>pituus</th>
		<th>matka</th>
		<th>päivän pituus</th>
	</tr>
	<tr class="stats" ng-repeat="stat in stats.Kaudet">
		<td class="text" >{{stat.info}}</td>
		<td>{{stat.start | date: 'dd.MM' }}</td>
		<td>{{stat.end | date: 'dd.MM' }}</td>
		<td>{{stat.length | number: 0 }} päivää</td>
		<td>{{stat.distance | number: 0}} km</td>
		<td>{{stat.distancePerDay | number: 1}}<span ng-show="{{stat.distancePerDay}}">km/pv<span></td>
	</tr>
	<tr ng-repeat="line in lines.Kaudet">
		<td>{{line.year}}</td>
		<td>{{line.start | date: 'dd.MM'}}</td>
		<td>{{line.end | date: 'dd.MM'}}</td>
		<td>{{line.length | number: 0}} päivää</td>
		<td>{{line.distance | number: 0}} km</td>
		<td>{{line.distancePerDay | number: 1}} km/pv</td>
	</tr>
	<tr class="clear">
		<td colspan="6"/>
	</tr>
</tbody><table>
