body {
	background-color: white;
}

table {
	border-collapse:collapse;
}

table, th, td {
	border: 2px solid black;
	padding: 0 5px;
}

td {
	border-width: 0 1px;
	vertical-align: top;
	text-align: right;
}

td.text {
	text-align: left;
}

th {
	background-color: #DDD;
	font-weight: normal;
	text-align: left;
	border-width: 2px 1px;
}

tr.bottomline td {
	border-width: 0 1px 1px 1px;
}

fieldset { border: none; }

div { width: 100%; }

.data tr:nth-child(even) { background: #EEE; }
.data tr:nth-child(odd) { background: #FFF; }

tr.stats:nth-child(5) { border-bottom: solid 1px black; }
tr.statsActivation { 
	border-bottom: solid 1px black; 
}

tr.statsActivation td {
        text-align: center;
	font-size: 0.6em;
}


tr.stats { 
	font-style: italic;
	background: #DDD; 
	font-size: 0.9em;
	color: #666;
}

tr.clear td {
	background: #DDD; 
	font-size: 0.7em;
	color: #AAA;
	text-align: center;
}

.data td {
	white-space: nowrap;
}

.green {
	background-color: #A5EF00;
}
.red {
	background-color: #ff6F00;
}

.selected {
	font-weight: bold;
}

.details {
	padding: 0 5px;
	margin: 0 0 0 20px;
	font-family: inherit;
}

form .ng-invalid {
    color: red;
    border-color: red;
}

input {
    border: solid 1px black;
}

input.ng-invalid {	
    border: solid 1px red;
}

div.tabs {
}

ul.tabs {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.tabs li {
	display: inline;
	border: solid;
	border-width: 1px 1px 0 1px;
	padding: 0 0.5em;
}

ul.tabs li.activeTab {
	font-weight: bold;
}
